@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
 margin: 0;
 padding: 0;   
}
.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
/* shared section  */
.btn-primary{
    border: 1px solid #006a50;
    border-radius: 5px;
    background-color: white;
    color:#006A50;
    padding: 6px;
}

/* nav section  */
nav{
    display: flex;
    justify-content: space-between;
}
/* section  */
 .banner{
    background-color: #c6e4d6;
    width: 100%;
    padding:100px 80px;
    display:flex;
    border-radius: 10px;

}
.section-title{
    color:#0e0e0e;
    margin-bottom: 16px;
}
.section-header{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn-secondary{
    background-color:#006150;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btn-blue{
    background-color: #5490f5;
    color:white;
    padding: 18px 9px;
    border-radius: 5px;
    border: none;
}
.btn-yellow{
    background-color: rgb(199, 199, 15);
    color:white;
    padding: 18px 9px;
    border-radius: 5px;
    border: none;
}
.vision-header{
    margin:20px 0px;
}
.vision-paragraph{
    width: 90%;
    color: #0e0e0e;
    margin-bottom: 20px;
}
.vision-1{
    margin: 30px 0px;
    background-color: #9abfff;
    width: 32%;
    padding:20px;
    border-radius: 10px;
    
}
.vision-2{
    margin: 30px 0px;
    background-color: rgb(145, 201, 145);
    width: 32%;
    padding:20px;
    border-radius: 10px;
}
.vision-3{
    background-color: rgb(216, 216, 151);
    margin: 30px 0px;
    width: 32%;
    padding:10px;
    border-radius: 10px;
}
.dialog{
    background-color: #ffffff;
    background-image: url("assets/quote-bg.png");
    background-position: top left;
    border-radius: 10px;
    border: none;
    background-repeat: no-repeat;
    padding: 20px;
}
.paragraph{
    width: 100%;
    color: #0e0e0e;
    margin-bottom: 20px;
}